# Virtual environment folders
webscraper/venv/
pyvenv.cfg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Test results
.tox/
.pytest_cache/

# Distribution / packaging
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/