.margin-nav {
    padding-top: calc(4.5rem + 16px);
}

.background {
    background-color: #f9fafc;
}

.card {
    background: var(--surface-card);
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 19px;
}

.card.high {
    background: var(--red-300);
}

.card:last-child {
    margin-bottom: 0
}

.header {
    font-size: 24px;
    font-weight: bold;
}